{{#each chathistory as |chathistory|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title" color="blue">{{this.user}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{this.date}}</h6>
    <p class="card-text">{{this.message}}</p>
  </div>
</div>
{{else}}
  <p>No hay chat</p>
{{/each}}